#niko-canvas {
  position: absolute;
  top: -6%;
  left: 42%;
  width: 32%;
  height: 45vw;
  z-index: 1;
  pointer-events: none;
  background: transparent;
}

body > * {
position: relative;
z-index: 2;
}


body {
background-attachment: fixed;
}