#niko-canvas {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25%;
  height: 50%;
  z-index: 1;
  pointer-events: none;
  background: transparent;
}

body > * {
position: relative;
z-index: 2;
}


body {
background-attachment: fixed;
}